@import "font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  height: fit-content;
  width: 100%;

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2vmax 4vmax;

    .potraitlogo {
      display: none;
      font-family: "Bigilla";
      font-weight: 500;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }

    .linkbox {
      height: fit-content;
      width: fit-content;
      display: flex;
      gap: 2vmax;

      .fs5 {
        position: relative;
        font-family: "Bigilla";
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 0.05vmax;
        color: #fff;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          bottom: -20%;
          left: 0;
          height: 1.5px;
          width: 0%;
          background-color: #fff;
          transition: 0.25s linear;
        }

        &:hover::after {
          width: 100%;
          transition: 0.25s linear;
        }
      }
    }

    .landscapelogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Bigilla";
      font-weight: 500;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }

    i {
      display: none;
    }
  }

  @media (max-width: 30cm) {
    .nav {
      padding: 2.5vmax 3vmax;

      .landscapelogo {
        display: none;
      }

      .potraitlogo {
        display: initial;
      }

      .linkbox {
        display: none;
      }

      i {
        display: initial;
        margin-top: 0.12vmax;
      }
    }
  }

  .sec1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1700404840566-a1f25bbffb36?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 100%;
    background-position: center;
    overflow: hidden;

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vmax;
      height: 70vmax;
      border-radius: 50%;
      background-color: #233430;
    }

    .contentbox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70vmax;
      width: 70vmax;
      border-radius: 50%;
      border: 1px solid rgb(125, 125, 125);
      overflow: hidden;
      z-index: 888;

      .imgbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50.5vmax;
        height: 50.5vmax;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .textbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
          display: flex;
          justify-content: center;
          font-family: "Hello Paris";
          font-weight: 100;
          line-height: 8.5vmax;
          color: #fff;

          span {
            display: inline-block;
            letter-spacing: -0.5vmax;
          }

          &:nth-child(3) {
            margin-top: 2vmax;
          }
        }
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 12.2%;
      transform: translateY(-50%);
      height: 5vmax;
      width: 5vmax;
      font-family: "Hello Paris";
      font-weight: 500;
      border-radius: 50%;
      border: 1px solid rgb(125, 125, 125);
      background-color: #233430;
      cursor: pointer;
      z-index: 888;
    }
  }

  @media (max-width: 30cm) {
    .sec1 {
      background-size: cover;
      background-position: center;

      button {
        top: 79.5%;
        left: 50%;
        height: 10vmax;
        width: 10vmax;
        transform: translateX(-50%);
      }
    }
  }

  .sec2 {
    height: fit-content;
    width: 100%;
    background-color: #233430;
    padding: 10vmax 4vmax;
    padding-top: 9vmax;

    .potraittext {
      display: none;
    }

    h2 {
      text-transform: capitalize;
      font-family: "Bigilla";
      font-weight: 500;
      line-height: 6.5vmax;
    }

    p {
      line-height: 1.8vmax;
      font-family: "Helvetica";
      width: 45%;
      margin-top: 1vmax;
    }

    .sliderbox {
      height: 40vmax;
      width: 100%;
      display: flex;
      gap: 4vmax;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 4vmax;

      .imgbox {
        height: 100%;
        width: 27.65vmax;
        flex-shrink: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec2 {
      padding: 10vmax 3vmax;
      padding-top: 9.5vmax;

      .landscapetext {
        display: none;
      }

      .potraittext {
        display: initial;
      }

      h2 {
        line-height: 7.5vmax;
      }

      p {
        width: 90%;
        line-height: 2.8vmax;
        margin-top: 2vmax;
      }

      .sliderbox {
        height: 60vmax;

        .imgbox {
          width: 100%;
        }
      }
    }
  }

  .sec3 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37524c;
    padding: 0 4vmax;

    .textbox {
      height: fit-content;
      width: fit-content;

      h3 {
        font-family: "Bigilla";
        font-weight: 500;
        line-height: 5vmax;
        padding-right: 40vmax;
      }

      p {
        position: relative;
        line-height: 1.8vmax;
        font-family: "Helvetica";
        width: 75%;
        padding: 1vmax 2vmax;
        border: 1px solid #fff;
        border-radius: 5vmax;
        margin-top: 2vmax;

        span {
          font-family: "Bigilla";
          font-weight: 500;
          letter-spacing: 0.05vmax;
          margin: 0 0.5vmax;
        }

        i {
          position: absolute;
          top: 50%;
          right: 2vmax;
          transform: translateY(-50%);
        }
      }
    }

    .stripebox {
      position: relative;
      height: 100vh;
      width: 4%;
      background-color: #233430;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      overflow: hidden;
      cursor: pointer;

      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: "Helvetica";
        font-weight: 500;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1vmax;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s linear;
      }

      h3 {
        font-family: "Bigilla";
        font-weight: 500;
        line-height: 5vmax;
        padding: 4vmax;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s linear;
      }

      .imgbox {
        position: absolute;
        bottom: 4vmax;
        right: 4vmax;
        height: 28vmax;
        width: 45vmax;
        flex-shrink: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s linear;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    #sb-1 {
      position: absolute;
      right: 12%;
      z-index: 6;
    }
    #sb-2 {
      position: absolute;
      right: 8%;
      z-index: 7;
    }
    #sb-3 {
      position: absolute;
      right: 4%;
      z-index: 8;
    }
    #sb-4 {
      position: absolute;
      right: 0;
      z-index: 9;
    }
  }

  @media (max-width: 30cm) {
    .sec3 {
      height: 100vh;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;
      padding: 0 3vmax;
      padding-top: 9.5vmax;

      .textbox {
        h3 {
          line-height: 6vmax;
          padding: 0;
        }

        p {
          line-height: 2.8vmax;
          width: 100%;
          border-radius: 10vmax;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 2vmax 3vmax;
          padding-right: 8vmax;
          margin-top: 9vmax;

          span {
            margin-left: 0;
            margin-right: 0.8vmax;
          }
        }
      }

      .stripebox {
        height: 6vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vmax;
        border-left: none;
        border-top: 1px solid #fff;
        padding: 3vmax 3vmax;

        i {
          padding: 1.5vmax;
        }

        h3 {
          line-height: 6vmax;
          padding: 0;
        }

        .imgbox {
          position: static;
          height: 30vmax;
          width: 100%;
        }
      }

      #sb-1 {
        bottom: 18%;
        right: 0;
      }
      #sb-2 {
        bottom: 12%;
        right: 0;
      }
      #sb-3 {
        bottom: 6%;
        right: 0;
      }
      #sb-4 {
        bottom: 0;
        right: 0;
      }
    }
  }

  .sec4 {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 10vmax 4vmax;
    overflow: hidden;
    background-color: #233430;

    .left {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5vmax;

      h3 {
        font-family: "Bigilla";
        font-weight: 500;
        cursor: pointer;
        width: fit-content;
      }
    }

    .right {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .framebox {
        position: relative;
        height: 100%;
        width: 22vmax;

        .frame {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 105%;
          width: 105%;
          z-index: 99;
        }

        .images {
          position: absolute;
          height: 100%;
          width: 0%;
          object-fit: cover;
          object-position: center;
          transition: 0.45s linear;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec4 {
      height: fit-content;
      width: 100%;
      flex-direction: column;
      padding: 10vmax 0;

      .left {
        height: fit-content;
        width: 100%;
        padding-left: 2vmax;
      }

      .right {
        height: fit-content;
        width: 100%;
        margin-top: 5vmax;
        padding: 0 4vmax;
        justify-content: flex-end;

        .framebox {
          height: 50vmax;
          width: 60%;
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec4 {
      .left {
        height: fit-content;
        width: 100%;
        padding-left: 3vmax;
      }

      .right {
        padding: 0 4vmax;
        justify-content: flex-start;

        .framebox {
          height: 50vmax;
          width: 90%;
        }
      }
    }
  }
}
